[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytube = "*"
moviepy = "*"
kivy = {extras = ["base"], version = "*"}
kivy-examples = "*"

[dev-packages]

[requires]
python_version = "3.9"
